# dependencies
/node_modules

# yarn berry
.yarn/cache
.yarn/install-state.gz

# next.js
/.next/
.env.*.local
.env*.local

# rollup cache
/.rollup.cache/

#logs
./storybook.log

.DS_Store

/dist

.npmignore

storybook-static/

.env